# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# directories
/bin/*
/build/*

/model/*
/models/*

# hdri
/hdri/*

!hdri/studio.hdr
!hdri/abandoned_garage_2k.hdr
!hdri/mirrored_hall_2k.hdr
!hdri/autumn_field_puresky_4k.hdr

!models/prism/
!models/prism/prism.obj
!models/prism/prism.mtl

# Docs are generated via Github Actions
/docs/*

# scripts/notes
*.py